@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

abbr { 
	text-decoration: none;
}

body {
	font-family: 'Raleway', sans-serif;
	background: #fff;
}

body.green {
	background: #33a038;
}

body > * {
	max-width: 1000px;
	margin: 0 auto;
}

body a {
    text-decoration: none;
	color: inherit;
}

body .full-width {
	max-width: 99999px;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}

header {
    height: 100px;
	background: #fff;
}

header > div {
	max-width: 1000px;
	margin: 0 auto;
}

header h1 {
	float: left;
}

header h1 a abbr {
	display: inline-block;
	width: 188px;
	height: 97px;
	background: transparent url('images/caep.png') no-repeat 0 0;
	background-size: 188px 97px;
	text-indent: -9999px;
}

header nav {
	float: right;
	margin: 28px 0;
    list-style: none;
}

header nav li {
    display: inline-block;
	white-space: nowrap;
	font-weight: normal;
	font-size: 24px;
	margin: 0 8px;
}

header nav li span.greeting,
header nav li span.orders {
	font-size: 10px;
}

header nav li span.orders a:hover {
	text-decoration: underline;
}

header nav li a.cart {
	display: inline-block;
	border: 5px solid #33A038;
	border-radius: 5px;
	padding: 5px 10px;
	background: transparent url("images/cart.svg") no-repeat 10px center;
	background-size: 30px 30px;
	padding-left: 40px;
}

header nav li a.button {
	display: inline-block;
	cursor: pointer;
	background: #33A038;
	color: #FFFFFF;
	padding: 10px 20px;
	border-radius: 5px;
}

section {
	color: #fff;
	padding: 0 50px 50px 50px;
	width: calc(100% - 100px);
	overflow: hidden;
}

section h1 {
	font-weight: bold;
	font-size: 36px;
}

section p,
section address {
	margin-top: 15px;
	font-weight: 500;
	font-size: 26px;
	text-align: justify;
	line-height: 35px;
}

section p img.image-text {
	max-width: 400px;
	border-radius: 10px;
	margin-bottom: 10px;
}

section p img.image-text.image-text-left {
	float: left;
	margin-right: 20px;
}

#banner {
	display: flex;
	align-items: center;
	height: calc(100vw * 0.33);
	margin-bottom: 50px;
	background: transparent url('images/usp.png') no-repeat center 0;
	background-size: 100%;
	vertical-align: middle;
}

#banner > div {
	width: 1000px;
	margin: 0 auto;
}

#banner h1 {
	font-weight: bold;
	font-size: 48px;
}

#banner h2 {
	font-weight: 500;
	font-size: 36px;
}

#about ul {
	margin: 30px 0;
	padding: 0 20px;
	border-radius: 10px;
	background: #fff;
	color: #33a038;
}

#about ul li {
	display: inline-block;
	margin: 50px 20px;
	padding-left: 130px;
	width: calc(33% - 170px);
}

#about ul li:first-child {
	background: transparent url('images/target.svg') no-repeat 0 0;
	background-size: 100px 80px;
}

#about ul li:first-child + li {
	background: transparent url('images/eye.svg') no-repeat 0 0;
	background-size: 100px 80px;
}

#about ul li:first-child + li + li {
	background: transparent url('images/value.svg') no-repeat 0 0;
	background-size: 100px 80px;
	
}

#about ul li h2 {
	font-weight: bold;
	font-size: 36px;
}

#about ul li p {
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
}

#space img {
	width: 100%;
}

footer {
	text-align: center;
	font-weight: normal;
	background: #fff;
	font-size: 26px;
	padding: 30px;
}

main {
	overflow: visible;
}

main > section {
	padding-left: 0;
	padding-right: 0;
	width: 100%;
	overflow: visible;
}

#article {
	padding-left: 0;
	padding-right: 0;
	width: 100%;
}

#article h1 {
	margin: 30px 0;
	font-weight: bold;
	font-size: 48px;
	text-align: center;
	color: #FFFFFF;
}

#article ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0px;
	overflow: visible;
}

#products li {
	position: relative;
	width: 215px;
	background: #EFEFEF;
	border-radius: 10px;
	display: inline-block;
	white-space: nowrap;
	margin: 0 0 30px 30px;
	list-style: none;
	white-space: normal;
	font-size: 20px;
	overflow: hidden;
	/*border: 1px solid #fff;*/
	padding: 20px 0 90px 0;
	box-shadow: 2px 3px 14px 5px rgba(27,27,27,0.46);
}

#products li.disabled:before {
	content: "Esgotado";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	padding-top: 200px;
	color: #33A038;
	background-color: rgba(255, 255, 255, 0.8);
}

#products li img {
	max-width: 215px;
	max-height: 275px;
}

#products li:nth-child(4n+1) {
	margin-left: 0;
}

#products li h1,
#products li h1 + p,
#products li h2 {
	font-size: 20px;
	color: #1b1b1b;
	text-align: center;
	margin: 0 auto;
}

#products li h1 {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: #33A038;
	color: #fff;
	padding: 10px 0;
}

#products li h1 + p {
	line-height: 20px;
}

#products li h2 {
	position: absolute;
	bottom: 40px;
	right: 0;
	left: 0;
	padding: 10px 0;
	background-color: #1b1b1b;
	color: #eeeeee;
	text-align: center;
	font-weight: bold;
}

#products li form {
	white-space: nowrap;
	margin-top: 10px;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
}

#products li input[type=number],
#products li input[type=submit]{
	display: inline-block;
	width: 50%;
	padding: 10px 0;
	margin: 0;
	border: 0;
	font: 15px bold;
	font-family: inherit;
}

#products li input[type=number] {
	text-align: center;
}

#products li input[type=number]::-webkit-inner-spin-button,
#products li input[type=number]::-webkit-outer-spin-button {
	opacity: 1;
	margin: 0;
	background: #33A038;
}

#products li input[type=submit] {
	background: #33A038;
	color: #FFFFFF;
}

#article > h2 {
	border-top: 1px solid #FFFFFF;
	padding: 10px 0;
	font-size: 20px;
}

#article .button {
	display: block;
	width: calc(100% - 40px);
	background: #fff;
	padding: 10px 20px;
	border-radius: 10px;
	border: 0;
	font: inherit;
	color: #33a038;
	text-align: center;
}

#mural h2 {
	font-weight: bold;
	font-size: 36px;
	text-align: left;
	color: #FFFFFF;
}

#mural h3 {
	margin: 15px 0;
	font-weight: bold;
	font-size: 28px;
	text-align: left;
	color: #FFFFFF;
}

#mural p {
	text-align: justify;
	margin: 15px 0;
	font-weight: 500;
	font-size: 24px;
	color: #FFFFFF;
}

#mural li {
	margin: 30px 0;
}

#comunication h2 {
	font-weight: bold;
	font-size: 36px;
	text-align: left;
	color: #FFFFFF;
}

#comunication p {
	line-height: 100%;
	font-weight: 500;
	font-size: 28px;
	text-align: left;
	color: #FFFFFF;
}

#comunication form label {
	display: block;
	margin-bottom: 10px;
}

#comunication form label::after {
	display: inline-block;
	content: ":";
}

#comunication form input,
#comunication form textarea {
	display: block;
	width: calc(100% - 40px);
	background: #fff;
	padding: 10px 20px;
	border-radius: 10px;
	border: 0;
	font: inherit;
	color: #33a038;
}

#comunication form input:focus,
#comunication form textarea:focus {
	outline: none;
	box-shadow: 0 0 3pt 2pt orangered;
}


#comunication form input::placeholder,
#comunication form textarea::placeholder {
	color: #ccc;
}

#comunication form input:invalid {
	box-shadow: 0 0 3pt 2pt red;
	color: red;
}

#comunication form textarea {
	min-height: 300px;
}

#comunication form .buttons {
	text-align: right;
}

#comunication form .buttons input[type='submit'] {
	display: inline-block;
	width: 200px;
	cursor: pointer;
}

#login h2 {
	margin: 30px 0;
	font-weight: bold;
	font-size: 48px;
	text-align: center;
	color: #33a038;
}

#login h3 {
	width: 624px;
	height: 502px;
	margin:0 auto;
	text-align: center;
	background: #FFFFFF;
	border: 3px solid #33A038;
	box-sizing: border-box;
	border-radius: 10px;
}

main h1{
	margin: 30px 0;
	font-weight: bold;
	font-size: 48px;
	text-align: center;
	color: #FFFFFF;
}

#form {
	width: 50%;
	margin: 0 auto;
}

#form h2 {
	font-weight: bold;
	font-size: 36px;
	text-align: left;
	color: #FFFFFF;
}

#form p {
	line-height: 100%;
	font-weight: 500;
	font-size: 28px;
	text-align: left;
	color: #FFFFFF;
}

#form ul,
#form .helptext {
	margin: 5px 0;
	font-size: 16px;
}

#form form label {
	display: block;
	margin-bottom: 10px;
}

#form form label::after {
	display: inline-block;
}

#form form input,
#form form textarea,
#form p a.button {
	display: block;
	width: calc(100% - 40px);
	background: #fff;
	padding: 10px 20px;
	border-radius: 10px;
	border: 0;
	font: inherit;
	color: #33a038;
}

#form form input:focus,
#form form textarea:focus {
	outline: none;
	box-shadow: 0 0 3pt 2pt orangered;
}


#form form input::placeholder,
#form form textarea::placeholder {
	color: #ccc;
}

#form form input:invalid {
	box-shadow: 0 0 3pt 2pt red;
	color: red;
}

#form form textarea {
	min-height: 300px;
}

#form form .buttons {
	text-align: right;
}

#form form input[type='submit'],
#form p a.button {
	display: inline-block;
	/*width: 200px;*/
	padding: 10px 0;
	width: 100%;
	cursor: pointer;
	font-size: 24px;
	text-align: center;
}

#form form > * {
	margin: 10px 0;
}

#order ol {
	display: flex;
	justify-content: center;
	white-space: nowrap;
	margin: 0 auto 30px auto;
}

#order ol li {
	width: 200px;
	position: relative;
	white-space: normal;
	text-align: center;
}

#order ol li:before {
	align-self: flex-start;
	display: block;
	content: "";
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 3px solid #ffefef;
	background: #ffefef;
	margin: 0 auto 20px auto;
	z-index: 2;
}

#order ol li:after {
	display: block;
	content: "";
	position: absolute;
	top: 25px;
	left: 128px;
	width: 100%;
	height: 3px;
	background: #ffefef;
}

#order ol li:last-child:after {
	display: none;
}

#order ol li.status ~ li {
	color: rgba(255,255,255,0.3);
}

#order ol li.status ~ li:before {
	background: #33A038;
	border-color: rgba(255,255,255,0.3);
}

#order ol li.status:after,
#order ol li.status ~ li:after {
	background-color: rgba(255,255,255,0.3);
}

#order #info {
	display: flex;
	justify-content: space-around;
	background-color: #ffefef;
	color: #33A038;
	box-shadow: 2px 3px 14px 5px rgba(27,27,27,0.46);
	padding: 50px;
	margin-bottom: 50px;
	font-size: 16px;
}

#order #info h2 {
	font-size: 24px;
	margin-bottom: 20px;
}

#order #info dt {
	font-weight: bold;
}

#order #info dd[onclick] {
	cursor: pointer;
	text-decoration: underline;
}

#order .button {
	display: block;
	width: calc(100% - 40px);
	background: #fff;
	padding: 10px 20px;
	border-radius: 10px;
	border: 0;
	font: inherit;
	color: #33a038;
	text-align: center;
}


#order > h2 {
	border-top: 1px solid #FFFFFF;
	padding: 10px 0;
	font-size: 20px;
}

#orders table {
	width: 100%;
}

#orders table th,
#orders table td {
	padding: 20px 10px;
	border-left: 1px solid #33A038;
	text-align: center;
	vertical-align: middle;
}

#orders table td:first-child {
	font-size: 24px;
}

#orders table td:first-child a {
	display: inline-block;
	background-color: #ffefef;
	color: #33A038;
	padding: 10px 0;
	width: 50px;
	border-radius: 50%;
	font-weight: bold;
}

#orders table td a {
	/*text-decoration: underline;*/
}

#orders table thead {
	background-color: rgba(255,255,255,0.8);
	color: #33A038;
	font-weight: bold;
}

#orders table tbody tr:nth-child(2n) {
	background-color: rgba(255,255,255,0.1);
}

#orders table tbody tr:nth-child(2n + 1) {
	background-color: rgba(255,255,255,0.2);
}