{% load user cart l10n %}
<!DOCTYPE html>
<html lang="pt">
    <head>
        <title>CAEP</title>
        <meta charset="utf-8">

        {% load static %}
        <link rel="stylesheet" href="{%  static 'assets/styles.css' %}">
    </head>
    <body class="green">
        <header class="full-width">
            <div>
                <h1><a href="{% url 'home' %}"><abbr title="Centro Acadêmico de Engenharia de Produção">CAEP</abbr></a></h1>
                <nav>
                    <li><a href="{% url 'home' %}">Sobre nós</a></li>
                    <li><a href="{% url 'info' %}">Informações</a></li>
                    <li><a href="{% url 'store' %}">Artigos</a></li>
                    {% is_authenticated as is_authenticated %}
                    {% if is_authenticated %}
                        <li>
                            <span class="greeting">Olá, {% user 'first_name' %} | </span>
                            <span class="orders"><a href="{% url 'orders' %}">Meus pedidos</a></span>
                            <a href="{% url 'logout' %}" class="button">Sair</a>
                        </li>
                    {% else %}
                        <li><a href="{% url 'login' %}" class="button">Entrar</a></li>
                    {% endif %}
                    <li><a href="{% url 'cart' %}" class="cart">({% cart_count %}) R${% cart_price %}</a></li>
                </nav>
            </div>
        </header>

        {% block content %}{% endblock %}

        <footer class="full-width">
            <p>Copyright © 2021 CAEP - Proudly developped at USP</p>
        </footer>
    </body>
</html>