{% load user cart l10n %}
<!DOCTYPE html>
<html lang="pt">
    <head>
        <title>CAEP</title>
        <meta charset="utf-8">

        {% load static %}
        <link rel="stylesheet" href="{%  static 'assets/styles.css' %}">
    </head>
    <body class="green">
        <header class="full-width">
            <div>
                <h1><a href="{% url 'home' %}"><abbr title="Centro Acadêmico de Engenharia de Produção">CAEP</abbr></a></h1>
                <nav>
                    <li><a href="{% url 'home' %}">Sobre nós</a></li>
                    <li><a href="{% url 'info' %}">Informações</a></li>
                    <li><a href="{% url 'store' %}">Artigos</a></li>
                    <li><a href="{% url 'signup' %}">Cadastro</a></li>
                    <li><a href="{% url 'cart' %}">({% cart_count %}) R${% cart_price %}</a></li>
                    {% is_authenticated as is_authenticated %}
                    {% if is_authenticated %}
                    <li>Olá, {% user 'first_name' %} | <a href="{% url 'logout' %}">Sair</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}">Entrar</a></li>
                    {% endif %}
                </nav>
            </div>
        </header>

        {% block content %}{% endblock %}

        <footer class="full-width">
            <p>Copyright © 2021 CAEP - Proudly developped in s2 Diadema</p>
        </footer>
    </body>
</html>