{% extends 'base.html' %}
{% load static %}
{% block content %}
        <section id="banner" class="full-width">
            <div>
                <h1>Seja muito bem vindo</h1>
                <h2>Nós somos o <abbr title="Centro Acadêmico de Engenharia de Produção">CAEP</abbr></h2>
            </div>
        </section>
        <section id="about">
            <h1>{{ about.title }}</h1>
            {{ about.content | safe }}

            <ul>
                <li>
                    <h2>{{ mission.title }}</h2>
                    {{ mission.content | safe }}
                </li>
                <li>
                    <h2>{{ vision.title }}</h2>
                    {{ vision.content | safe }}
                </li>
                <li>
                    <h2>{{ values.title }}</h2>
                    {{ values.content | safe }}
                </li>
            </ul>
        </section>
        <section id="space">
            <h1>{{ space.title }}</h1>
            {{ space.content | safe }}
        </section>
        <section id="contact">
            <h1>{{ contact.title }}</h1>
            {{ contact.content | safe }}
        </section>
{% endblock %}