{% extends 'base.html' %}
{% block content %}
        <main>
            <h1>Informações</h1>
            <section id="mural">
                <h2>Mural de ICs</h2>
                <ul>
                    {% for subject in subjects %}
                    <li>
                        <h3>{{ subject.title }}</h3>
                        <p>{{ subject.description }}</p>
                    </li>
                    {% endfor %}
                </ul>
            </section>
            <section id="comunication">
                <h2>Comunicação com RDs</h2>
                <form action="{% url 'message-sent' %}" method="post">
                    {% csrf_token %}
                    <p><label for="rd-nome">Nome</label> <input type="text" name="name" id="rd-nome" placeholder="Coelho do CAEP"></p>
                    <p><label for="rd-WhattsApp">WhatsApp</label> <input type="tel" name="whatsapp" id="rd-WhattsApp" pattern="\d{10,11}" placeholder="11912345678" maxlength="11"></p>
                    <p><label for="rd-E-mail">E-mail</label> <input type="email" name="email" id="rd-E-mail" placeholder="coelho@caep.com.br"></p>
                    <p><label for="rd-Sua mensagem">Sua mensagem</label> <textarea type="text" name="message" id="rd-Sua mensagem" placeholder="Digite sua mensagem..."></textarea></p>
                    <p class="buttons"><input type="submit" value="Enviar"></p>
                </form>
             </section>
        </main>
{% endblock %}