{% extends 'base.html' %}
{% load static l10n %}
{% block content %}
        <main>
            <section id="orders">
                <h1>Meus pedidos</h1>
                <ul>
                    {% for order in orders %}
                    <li>
                        <a href="{% url 'order' order.id %}">
                            <span>{{ order.created_at | date:'d/m/Y' }}</span>
                            <span>{{ order.id }}</span>
                            <span>R${{ order.total_price }}</span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </section>
        </main>
{% endblock %}